<header>
    <h1>Le Grainetier</h1>
    <nav>
        <div class="container">
            <div>
                <ul>
                    <li routerLinkActive="active"><a routerLink="/news">Actualités</a></li>
                    <li routerLinkActive="active"><a routerLink="/byarticle">Articles</a></li>
                    <li routerLinkActive="active"><a routerLink="/bysubscriber">Abonnés</a></li>
                    <li routerLinkActive="active"><a routerLink="/news">Connexion</a></li>
                    <li routerLinkActive="active"><a routerLink="/news">Inscription</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
